@charset 'UTF-8';
.blog-item {
    padding: 0 10vw;
    list-style: none;
    a {
    text-decoration: none;
    }
}
.blog-contents {
    display: flex;
    border-bottom: 1px solid lightgrey;
    margin: 0 5vw;
    .thumbnail {
        width: 30%;
        object-fit: cover;
        padding: 3vh 0 3vh 3vw;
        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }
    .blog-contents-text{
        flex-direction: column;
        width: 70%;
        padding: 1vh 2vw;
        h4 {
            margin: 0 auto;
            padding: 3vh 1.5vw 1vh;
            color: $text;
            font-size: 2vw;
        }
        p {
            padding: 1vh 1vw;
            color: $text;
            font-size: 1.5vw;
        }
    }
}

.blog-buttons {
    text-align: center;
    margin-top: 2vh;
    button {
        background-color: $blue;
    }
}
/* -------------------------------- */

/* --------------------------------
 * sp
 * -------------------------------- */
@media screen and (max-width: 480px) {

    .blog-item {
        padding: 0;
        list-style: none;
        a {
        text-decoration: none;
        }
    }
    .blog-contents {
        display: flex;
        border-bottom: 1px solid lightgrey;
        margin: 0 5vw;
        .thumbnail {
            width: 30%;
            object-fit: cover;
            padding: 3vh 0;
            img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
        }
        .blog-contents-text{
            
            width: 70%;
            padding: 3vh 3vw;
            
            h4 {
                margin: 0 ;
                padding: 3vh 0 ;
                color: $text;
                font-size: 3.5vw;
                text-align: left;
            }
            p {
                display: none;
            }
        }
    }
    
    .blog-buttons {
        text-align: center;
        margin-top: 2vh;
        button {
            background-color: $blue;
        }
    }
}
/* -------------------------------- */

/* --------------------------------
 * ipad
 * -------------------------------- */
 @media  screen and (max-width: 913px) and (min-width: 480px) {
    .blog-item {
        padding: 0;
        list-style: none;
        a {
        text-decoration: none;
        }
    }
    .blog-contents {
        display: flex;
        border-bottom: 1px solid lightgrey;
        margin: 0 5vw;
        .thumbnail {
            width: 30%;
            object-fit: cover;
            padding: 3vh 0;
            img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
        }
        .blog-contents-text{
            
            width: 70%;
            padding: 3vh 3vw;
            
            h4 {
                margin: 0 ;
                padding: 3vh 0 1vh;
                color: $text;
                font-size: 3vw;
                text-align: left;
            }
            p {
                font-size: 2vw;
            }
        }
    }
    
    .blog-buttons {
        text-align: center;
        margin-top: 2vh;
        button {
            background-color: $blue;
        }
    }
}


/* --------------------------------
 * archive
 * -------------------------------- */
.archive-title {
    display: flex;
    flex-direction: column;
        height: 20vh;
        width: 100vw;
        padding: 8vh 0 0 0;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: #EFF7FA;
        font-size: 3vw;
        color: $text;
        h4 {
            font-size: 2vw;
            margin-top: 1vh;
        }
}
/* -------------------------------- */

/* --------------------------------
 * archive sp
 * -------------------------------- */
@media screen and (max-width: 480px) {
    .archive-title {
        display: flex;
        flex-direction: column;
        height: 10vh;
        width: 100vw;
        padding: 3vh 0 ;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: #EFF7FA;
        font-size: 8vw;
        color: $text;
        h4 {
            font-size: 4vw;
            margin-top: 1.2vh;
        }
    }
}

        

 /* --------------------------------
 * single
 * -------------------------------- */
.blog {
    .page-title {
        display: flex;
        height: 20vh;
        width: 100vw;
        padding: 8vh 0 0 0;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: #EFF7FA;
        font-size: 3vw;
        color: $text;
    }
    .page-title h2 {
        max-width: 80vw;
    }
    .blog-body {
        padding: 5vh 15vw;
        color: $text;
        p {
            padding: 0.5vh 5vw;
            line-height: 1.2;
            font-size: 1.5vw;

        }
        h2 {
            padding: 5vh 5vw;
            font-size: 2.5vw;
            font-weight: bold;
        }
        img {
            margin: 2vh 0;
        }
    }
}
.blog-news {
    display: flex;
    justify-content: space-between;
    padding: 2vh 20vw;
    font-size: 2.5vw;
    
    font-family: Arial, Helvetica, sans-serif;
    a {
        text-decoration: none;
        color: $text;
    }
}
/* -------------------------------- */

/* --------------------------------
 * single sp
 * -------------------------------- */
 @media screen and (max-width: 480px) {
    .blog {
        .page-title {
            display: flex;
            height: 10vh;
            width: 100vw;
            padding: 5vh 0;
            margin: 0 auto;
            text-align: center;
            align-items: center;
            justify-content: center;
            background-color: #EFF7FA;
            font-size: 5vw;
            color: $text;
        }
        .page-title h2 {
            max-width: 80vw;
        }
        .blog-body {
            padding: 5vh 0;
            p {
                padding: 0.5vh 5vw;
                line-height: 1.2;
                font-size: 3vw;
    
            }
            h2 {
                padding: 2vh 0 2vh 3.5vw;
                font-size: 4.5vw;
                font-weight: bold;
            }
            img {
                margin: 2vh 0;
            }
        }
    }
    .blog-news {
        display: flex;
        justify-content: space-between;
        padding: 2vh 20vw;
        font-size: 4vw;
        
        font-family: Arial, Helvetica, sans-serif;
        a {
            text-decoration: none;
            color: $text;
        }
    }
}
/* --------------------------------
 * single ipad
 * -------------------------------- */
 @media  screen and (max-width: 913px) and (min-width: 480px) {
    .blog {
        .page-title {
            display: flex;
            height: 20vh;
            width: 100vw;
            padding: 8vh 0 0 0;
            margin: 0 auto;
            text-align: center;
            align-items: center;
            justify-content: center;
            background-color: #EFF7FA;
            font-size: 5vw;
            color: $text;
        }
        .page-title h2 {
            max-width: 80vw;
        }
        .blog-body {
            padding: 5vh 0;
            p {
                padding: 0.5vh 5vw;
                line-height: 1.2;
                font-size: 2.5vw;
    
            }
            h2 {
                padding: 2vh 2vw;
                font-size: 2.7vw;
                font-weight: bold;
            }
            img {
                margin: 2vh 0;
            }
        }
    }
    .blog-news {
        display: flex;
        justify-content: space-between;
        padding: 2vh 20vw;
        font-size: 4vw;
        
        font-family: Arial, Helvetica, sans-serif;
        a {
            text-decoration: none;
            color: $text;
        }
    }
}