@charset 'UTF-8';
#header {
    width: 100%;
    display: block;
    img {
        width: 60%;
        padding: 1vh 2vw;
    }
    .header__sp {
        display: none;
    }
    .header__pc {
        nav {
            display: block !important;
            ul  {
                width: 100%;
                height: 8vh;
                max-width: 100vw;
                display: flex;
                position: fixed;
                justify-content: space-between;
                align-items: center;
                box-sizing: border-box;
                box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
                background-color: #fff;
                z-index: 3000;
                .top-logo {
                    width: 30%;
                }
                a {
                    text-decoration: none;
                    color: $text;
                    font-family: "Note Sans JP";
                    font-weight: bold;
                    font-size: 1.3vw;
                }
                .header-button{
                    button{
                        height: 5vh;
                        width: 10vw;
                        font-size: 1vw;
                        margin: 0 2vw 0 5vw ;
                    }
                }
            }
        }
    }
}
/* --------------------------------
 * smart phone
 * -------------------------------- */
 @media screen and (max-width: 480px) {
    #header {
        width: 100%;
        display: block;
        img {
            width: 15%;
            height: 15%;
            opacity: 0;
        }
        .header__pc {
            display: none;
        }
        .header__sp {
            width: 100%;
            max-width: 100vw;
            display: flex;
            display: block;
            justify-content: space-between;
            position: fixed;
            box-sizing: border-box;
            z-index: 3000;
            .menubtn{
                width:100%;
                max-width: 50px;
                z-index: -1;/*追記*/
                margin: auto 0 0 auto;
                top: 0;
            }
            .openbtn8{
                width: 50px;
                height:50px;
                border-radius: 10px;
                position: relative;/*ボタン内側の基点となるためrelativeを指定*/
                background:$blue;
                cursor: pointer;
                .openbtn-area{
                    width:50px;
                    height:50px;
                    transition: all .6s;/*アニメーションの設定*/
                }
                span{
                    width: 45%;
                    display: inline-block;
                    transition: all .4s;
                    position: absolute;
                    left: 14px;
                    height: 3px;
                    border-radius: 2px;
                    background: #fff; 
                }
                span:nth-of-type(1) {
                    top:15px; 
                }
                span:nth-of-type(2) {
                    top:23px;
                }
                span:nth-of-type(3) {
                    top:31px;
                }
            }
            .openbtn8.active {
                .openbtn-area{
                    transform: rotate(360deg);
                }
                span:nth-of-type(1) {
                    top: 18px;
                    left: 18px;
                    transform: translateY(6px) rotate(-45deg);
                    width: 30%;
                }
                span:nth-of-type(2) {
                    opacity: 0;
                }
                span:nth-of-type(3){
                    top: 30px;
                    left: 18px;
                    transform: translateY(-6px) rotate(45deg);
                    width: 30%;
                }
            }
        }
        .w1000{
            width: 100%;
            margin: 0 auto;
            position: fixed;/*追記*/
            height:12vh;/*追記*/
            z-index: 1000;
            align-items: flex-end;
            box-sizing: border-box;
            max-width: 100vw;
            h1 {
                color: white;
                text-shadow: -2px -3px 3px gray;
                font-family: "Arial";
                font-size: 5vw;
                text-align: center;
                padding: 1vh 0 0;
            }
            nav{
                width: 100%;
                background: rgba(0,0,0,0.8);
                padding:1vh 5vw;/*調整*/
                position: absolute;/*追記*/
                height:100%;/*追記*/
                width:100%;/*追記*/
                z-index: 120;
                object-fit: cover;
                box-sizing: border-box;
                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    a {
                        text-decoration: none;
                    }
                }
                li {
                    color: white;
                    text-align: center;
                    cursor: pointer;
                    color: white;
                    text-shadow: -2px -3px 3px gray;
                    font-family: "Arial";
                    font-size: 2vw;
                    width: 100%;
                    display: block;
                    z-index: 5000;
                    line-height: 1.2;
                    padding: 3vh 0 0;
                }
            }
        }
    }
}
/* --------------------------------
 * ipad
 * -------------------------------- */
 @media screen and (max-width: 830px) and (min-width: 480px) {
    #header {
        width: 100%;
        display: block;
        img {
            width: 90%;
            padding: 1vh 2vw;
        }
        .header__sp {
            display: none;
        }
        .header__pc {
            nav {
                display: block !important;
                ul  {
                    width: 100%;
                    height: 8vh;
                    max-width: 100vw;
                    display: flex;
                    position: fixed;
                    justify-content: space-between;
                    align-items: center;
                    box-sizing: border-box;
                    box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
                    background-color: #fff;
                    z-index: 3000;
                    .top-logo {
                        width: 30%;
                    }
                    a {
                        text-decoration: none;
                        color: $text;
                        font-family: "Note Sans JP";
                        font-weight: bold;
                        font-size: 2vw;
                    }
                    .header-button{
                        button{
                            height: 5vh;
                            width: 18vw;
                            font-size: 2vw;
                            margin: 0 2vw 0 5vw ;
                        }
                    }
                }
            }
        }
    }
}