@charset 'UTF-8';
#key-v{
    width: 100vw;
    height: 92vh;
    background-image: url("../images/key-v.jpg");
    padding-top: 8vh;
    object-fit: cover;
    background-size: cover;
    z-index: 100;
    overflow: hidden;
    position: relative;
    .key-v-item {
        width: 100%;
        display: flex;
        box-sizing:border-box;
        flex-direction: column;
        bottom: 0;
        .key-v-main {
            display: flex;
            .key-logo{
                img {
                    width: 50vw;
                position: absolute;
                top: 8vh;
                padding: 2vh 13vw;
                }
            }
            .men-60{
                img {
                    position: absolute;
                    height: 100vh;
                    bottom: 0;
                    right: -10vw;
                }
            }
            .key-v-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100vw;
                background-color: rgba(32,47,85,0.7);
                text-align: center;
                padding: 2.5vh 13vw;
                margin-bottom: 20vh;
                position: absolute;
                bottom: 0;       
                p {
                        color:#fff;
                        text-shadow: 2px 3px 3px #000;
                        font-weight: 900;
                        font-size: 2.5vw;
                        line-height: 1.5;
                        letter-spacing: 0.25em; 
                        font-family: Note Sans JP;
                        text-align: left;
                        margin: 1.5vh 1vw;
                    }

            }
            button {
                position: absolute;
                margin: 0 0 5vh 13vw;
                bottom: 0;
                z-index: 10000;
                &:hover {
                    background-color: #FFCC00;
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }
}

            

/* --------------------------------
 * smart phone
 * -------------------------------- */
 @media screen and (max-width: 480px) {
    #key-v{
        width: 100vw;
        height: 100vh;
        background-image: url("../images/sp-top.jpg");
        padding-top: 0;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        z-index: 100;
        overflow: hidden;
        position: initial;
        .key-v-item {
            width: 100%;
            display: flex;
            box-sizing:border-box;
            flex-direction: column;
            bottom: 0;
            .key-v-main {
                display: flex;
                flex-direction: column;
                height: 100vh;
                margin-top: 15vh;
                .key-logo{
                    text-align: center;
                    margin: 0 auto;
                    img {
                        width: 80vw;
                    position: initial;
                    text-align: center;
                    top: 0;
                    padding: 0;
                    }
                }
                .men-60{
                    display: none;
                    img {
                        position: absolute;
                        height: 100vh;
                        z-index: auto;
                        bottom: 0;
                        right: -10vw;
                    }
                }
                .key-v-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100vw;
                    background-color: rgba(32,47,85,0.7);
                    text-align: center;
                    padding: 2vh 0;
                    margin: 8vh 0 25vh;
                    position: relative;
                    bottom: 0;  
                    .key-v-textbox {
                        margin: 0 auto;
                    }     
                    p {
                            color:#fff;
                            text-shadow: 2px 3px 3px #000;
                            font-weight: 900;
                            font-size: 3.5vw;
                            line-height: 1.5;
                            letter-spacing: 0.25em; 
                            font-family:"Arial Helvetica, sans-serif";
                            text-align: left;
                            margin: 1.5vh 1vw;
                        }
    
                }
                button {
                    position: initial;
                    margin: 0 auto;
                    bottom: 0;
                    text-align: center;
                    height: 8vh;
                    width: 50vw;
                    font-size: 4vw;
                }
            }
        }
    }
    
}
/* --------------------------------
 * ipad
 * -------------------------------- */ 
 @media  screen and (max-width: 913px) and (min-width: 480px) {
    #key-v{
        width: 100vw;
        height: 100vh;
        background-image: url("../images/sp-top.jpg");
        padding-top: 0;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        z-index: 100;
        overflow: hidden;
        position: initial;
        .key-v-item {
            width: 100%;
            display: flex;
            box-sizing:border-box;
            flex-direction: column;
            bottom: 0;
            .key-v-main {
                display: flex;
                flex-direction: column;
                height: 100vh;
                margin-top: 10vh;
                .key-logo{
                    text-align: center;
                    margin: 0 auto;
                    img {
                        width: 80vw;
                    position: initial;
                    text-align: center;
                    top: 0;
                    padding: 0;
                    }
                }
                .men-60{
                    display: none;
                    img {
                        position: absolute;
                        height: 100vh;
                        z-index: auto;
                        bottom: 0;
                        right: -10vw;
                    }
                }
                .key-v-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100vw;
                    background-color: rgba(32,47,85,0.7);
                    text-align: center;
                    padding: 2vh 0;
                    margin: 2vh 0 25vh;
                    position: relative;
                    bottom: 0;  
                    .key-v-textbox {
                        margin: 0 auto;
                    }     
                    p {
                            color:#fff;
                            text-shadow: 2px 3px 3px #000;
                            font-weight: 900;
                            font-size: 3.5vw;
                            line-height: 1.5;
                            letter-spacing: 0.25em; 
                            font-family:"Arial Helvetica, sans-serif";
                            text-align: left;
                            margin: 1.5vh 1vw;
                        }
    
                }
                button {
                    position: initial;
                    margin: 0 auto;
                    bottom: 0;
                    text-align: center;
                    height: 8vh;
                    width: 50vw;
                    font-size: 4vw;
                }
            }
        }
    }
}